body {
    font-family: 'Oxygen', sans-serif;
    overflow-x: hidden;
}
.mag-glass{
    display: inline-block;
    padding:2%;
    width:30px;
    height:30px;
}
#left-header {
    height: 50px;
    overflow: hidden;
}

#right-header {
    text-align: right;
    display: inline-block;
    overflow: hidden;
    padding-left:65%;
    
}
h1 {
    font-family: 'Oxygen', sans-serif;
    color: #a9c538;
    font-size: 80px;
    padding-left: 2%;
    /*weight: 700;*/
}
h2{
    font-family: 'Oxygen', sans-serif;
    text-align : left;
    font-size: 28px;
    color: #a9c538;
    display: inline-block;
    padding-left:2%;
}

p {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    color: black;
}

a {
    text-decoration: none;
}

.shape {
    font-family: 'Oxygen', sans-serif;
    background-color: #a9c538;
    color: white;
    margin-left: 42%;
    height: 40px;
    width: 12%;
    padding: 2.5% 2% 1% 3%;
    border-radius: 100px;
    text-align: center;
}

#daily-goal {
    font-family: 'Oxygen', sans-serif;
    border: #a9c538 3px solid;
    color: #a9c538;
    margin-left: 40%;
    width: 16%;
    border-radius: 10px;
    text-align: center;
    margin-top: 3%;
    padding: 2%;
    z-index: 10;
}

#calorie-display {
    text-align: center;
}

#calorie-container {
    margin-top: 20px;
    z-index: 1;
    margin-bottom: 30px;
}

.topBanner {
    font-family: 'Oxygen', sans-serif;
    color: black;
    position: relative;
}

#food-background {
    font-family: 'Oxygen', sans-serif;
    background-color: #f5f5f5;
    width: 100%;
    padding-bottom: 5%;
}

.foodCard {
    background-color: white;
    font-family: 'Oxygen';
    color: #F9A616;
    border-radius: 10px;
    width : 30%;
    text-align: left;
    margin: 0% 0% 1.5% 10%;
    padding: 1% 0% 1% 3%;
}
.foodCard:hover{
    background-color: #f1f1f1;
}

.breakfast, .lunch {
    text-align: left;
    margin-left: 20%;
}
#card2{
    text-align: left;
    
}
#foodwords1{ /*MEal Name*/
    text-align: left;
    font-family: 'Oxygen';
    color: #F9A616;
    font-size: 16px;
}
.foodwords1a{ /*Item Name*/
    text-align: left;
    font-family: 'Oxygen';
    color: #F9A616;
    font-size: 14px;
}
#foodwords2{
    text-align: left;
}

p.description {
    font-size: 12px;
    color: #a4a4a4;
    font-family: 'Oxygen';
    text-align: left;
}

#add{
    font-family: 'Oxygen';
    background-color :#a9c538;
    color: white;
    width : 20%;
    border-radius: 20px;
    margin-left: 10%; 
    padding: 1% 1%;
    margin-left: 15%;
    margin-top: 4%;
}

#add:hover{
    background-color: #a9c999;
    color: black;
}
#date {
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#date2{
    text-align: left;
    padding-left: 20%;
    padding-top: 5%;
    font-size: 22px;
}
.meal-info {
    width: 30%;
    height: 75px;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 15px;
    text-align: center;
}
.meal-info2{
    width: 30%;
    height: 75px;
    padding-left:50%; 
    background-color: #f5f5f5;
    border-radius: 15px;
    text-align: center;
}

#all-meals {
    margin-left: 2%;
    width: 80%;
    padding-left: 5%;
    display: inline-block;
}

.week {
    float: left;
    display: inline-block;
    padding-right: 5%;
}

footer{
    background: #a9c538;
    width : 100%;
    color: white;
    padding: 5%;
    padding-bottom: 13%;
}

#footername,#delta{
    color: white;
    text-align: left;
}

#delta {
    font-size: 15px;
    padding-left: 3%;
}

.footer-left{
    float: left;
}

.footer-right {
    float: right;  
}
